<div class="row simple_captcha">
  <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 simple_captcha_field">
    <%= simple_captcha_options[:field] %>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 simple_captcha_image">
    <%= simple_captcha_options[:image] %>
  </div>
</div>
<!-- <div>
  <%#= simple_captcha_options[:label] %>
</div> -->
