label Staking duration
= select_tag "staking[staking_locked_durations_attributes][0][staking_duration_id]", options_for_select(@staking_durations.map{|m| [m.duration_days,m.id]}),{class: "form-control", required: true, prompt: "Select duration"}