<div class="loading-gif displayInMiddle" style="display:none;">
  <div class="loading">
    <div class="loader-fading-circle">
      <div class="loader-circle loader-circle-1"></div>
      <div class="loader-circle loader-circle-2"></div>
      <div class="loader-circle loader-circle-3"></div>
      <div class="loader-circle loader-circle-4"></div>
      <div class="loader-circle loader-circle-5"></div>
      <div class="loader-circle loader-circle-6"></div>
      <div class="loader-circle loader-circle-7"></div>
      <div class="loader-circle loader-circle-8"></div>
      <div class="loader-circle loader-circle-9"></div>
      <div class="loader-circle loader-circle-10"></div>
      <div class="loader-circle loader-circle-11"></div>
      <div class="loader-circle loader-circle-12"></div>
    </div>
  </div>
</div>