- id: 1
  key: krw
  code: krw
  display_name: KRW
  symbol: "B$"
  coin: false
  precision: 2
  assets:
    accounts:
      -
        bank: 'Bank of Korea'
        address: '1234567890'
        password: '111111'
        tel: '0987654321'

- id: 2
  key: satoshi
  code: btc
  display_name: Bitcoin
  symbol: "฿"
  coin: true
  precision: 4
  quick_withdraw_max: 10
  rpc: http://USERNAME:PASSWORD@127.0.0.1:18332
  blockchain: https://blockchain.info/tx/#{txid}
  address_url: https://blockchain.info/address/#{address}
  assets:
    accounts:
      -
        address:
