@import "bourbon";

@import 'swagger-ui/highlight.default';
@import 'swagger-ui/screen';

@import 'vars/bootstrap';

@import 'bootstrap';
@import 'bootstrap-switch.min';
@import 'bootstrap.min';

@import 'vars/basic';
@import 'vars/custom';

@import "font-awesome-sprockets";
@import 'font-awesome';

@import 'layouts/basic';



:root {
--theme-primary:#FFC300;
--theme-primary:#FFC300;

--buy-color: #02c076;
--sell-color:f84960;

--bg-color:#13151a;
--header-bg:#161a1e;

--bg-color-light:#1e2026;
--bg-color-light:#2b2f36;

--title-head:#e6e8ea;
--title-head-light:#848e9c;

--placeholder:#5e6673;
--label-color:#929aa5; 
}

.swagger-ui-wrap {
  h1, h2 {
    margin: 0;
  }
}

#documents-api_v2 {
  table.result {
    th:nth-child(1) { width: 80px; }
    th:nth-child(3) { width: 300px; }

    p {
      margin: 0px;
      padding: 0px;
    }
  }

  footer {
    margin-top: 30px;
  }
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #e7e7e7;
    background-color: transparent;
}

.new-container{
    justify-content: space-between!important;
    width: 100%;
    flex-wrap: unset!important;
    .navbar-header{
      width: 100%;
      float: none;
    }
    .navbar-nav{
      display: flex;
      flex-direction: row;
      float: none;
      width: 100%;
      justify-content: end;
    }
}

footer {
    background-color: var(--header-bg);
    padding: 60px 0 0 0;
    color: #fff;
}
footer h4 {
    margin: 15px 0;
    font-size: 20px;
    color: var(--light);
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    padding: 5px 0px;
}
footer a {
    color: #c2c2c2;
    font-size: 15px;
}
.social_media {
    display: inline-flex;
}
.social_media li {
    margin: 0 15px;
}
.social_media i {
    font-size: 30px;
}
.footer-bottom {
    border-top: 1px solid #383838;
    padding: 20px 0;
}
.footer-bottom p {
    margin: 0;
    font-size: 15px;
}

@media (min-width: 992px){
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }  
}

@media (max-width: 767px){
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (max-width: 575px){
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

table.table tr td {
    word-break: break-word;
}

.header_bg {
    background-color: var(--header-bg);
    position: relative;
}