:root {
--theme-primary:#FFC300;
--secondary-color: #0ecb81;
--tertiary-color:#f6465d;
--bg-dark1: #ffffff;
--bg-dark2: #ffffff;
--bg-dark3: #fafafa;
--light-color1:#c7c8c9;
--light-color2:#222;
--border-color:#ddd; 
}
body {
  font: 100% "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  background-color: var(--bg-dark1);
  color: var(--light-color2);
  max-width:initial;
  }

.scroll_css::-webkit-scrollbar {
    width: 3px;
    background-color: #f7f7f7 !important;
}
.scroll_css::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ccc;
}
.scroll_css::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #f7f7f7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color:#222;
}

p,
i,
ul {
  font-family: 'Poppins', sans-serif;
  color:#222;
}
a {
    color: #FFC300;
}
a {
    text-decoration: none!important;
}
label, table th{    
    color: #444;
}
.input_cus input {color:#495057;}
.cusdropdown-menu i{color:var(--primary-color);}
.header.dark_v1 nav {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.trade_mw {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
}
.coin_dropdown {background-color: #ffffff;}
.theme-tabs .nav-link { color: #000;}


.mask { background-color: rgba(255, 255, 255, 0.36);}
.card_header ul li, ul#pills-tab-buysell li a, #openmy-order li a{color: #76808f;}
.card_header li a {
    color: var(--title-head);
    font-weight: 600;
    color: #76808f;
    font-size: 13px;
}
.input_cus, .walletval {border: 1px solid var(--border-color);}
.card_header ul li.active, ul#pills-tab-buysell li a.active, #openmy-order li a.active {
    border-color: var(--theme-primary);
    background-color: #ffffff;
    color: #1e2026;
}

.coin_pair, .orders, .chart_area, .orderbook_tradehistory,.order_book, .trade_history,.buy_sell, .cnt-main, .h-notes-main, .buy-form, .input_cus, #trade_chart .tab-content, ul.pills_nav li a.active, div#market_list_wrapper, div#market_list_wrapper .title_box {
    background-color: #ffffff;
   
}

a#darkThemeBtn {
    background-color:transparent;
    border-radius: 30px;
    color: #fff !important;
}
a#lightThemeBtn {
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #fff !important;
}
li a#lightThemeBtn img{
    filter: none;
}
a#lightThemeBtn i {
    color: #fff;
}
table tr:hover {
    background-color: var(--light);
}
table.table.table-hover tr:hover {
    background-color: var(--light);
}
.cusdropdown-menu {
    background-color: var(--bg-dark3);
}
.cusdropdown-menu li:hover {
    background-color: var(--bg-dark3);
}


select#sel1 {
    float: right;
    background: #ffffff;
    border: 1px solid var(--border-color);
    color: #0e0e0e;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
}


.title_box {
    background-color: #ffffff;
}

.title_box h5 {
    color: #13151a;
}

li.marketlist ul.dropdown-menu {
    background-color: #ffffff;
    border-color:var(--border-color);
}

.cusdropdown-menu li a {
    color: #11161d !important;
}

#trade_chart .tab-content {
    background: #ffffff;
}

div#trade_chart ul.nav.nav-tabs li{
    background: #ffffff;
}

@media only screen and (max-width: 799px) {
.buy_sell.open {
    position: fixed;
    background-color: var(--bg-dark2);
    width: 100%;
    bottom: 0 !important;
    border: 1px solid var(--border-color);
    border-radius: 18px 18px 0 0;
}


card_header ul li, ul#pills-tab-buysell li a, #openmy-order li a {
    color: #76808f;
}
.buy_sell.open .card_header ul li:nth-child(1) a.active {
    background-color: var(--buy-color);
    border-color: var(--buy-color);
    color:#fff !important;
}
.buy_sell.open .card_header ul li:nth-child(2) a.active {
    background-color: var(--sell-color);
    border-color: var(--sell-color);
    color:#fff !important;
}
.buy_sell.open .card_header ul li a {
    color: #76808f !important;
    border-radius: 4px !important;
}
}
#market_list .pair_name a { color: #000; }
.h-notes-link { color: #666; }
.h-notes-main {
    border-color: #ddd;
}
.cnt-select h1, .rcb-s, .cst-s, .cnt-main, .chart_area .nav-tabs li a, .rcb-f, .card_header li a, .data_thead .table th, .alert_msg p.cur_label, .btn_login, .walletval p, .data_thead .table th, thead.data_thead th {
    color: #222222;
}
.navbar-dark .navbar-nav .nav-link, li#settings a {
    color: #222222;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #c99400;
}
header {
    background-color:#ffffff;
    border-color: #dddddd;
}
.input_cus input, .input_cus input, .input_cus input:active, .input_cus input:focus {
    color: #000;
}
.cs-spa {
    color: #666666;
}
a:hover, .chart_area .nav-tabs li a:hover, .chart_area .nav-tabs li a.active {
    color: #c99400;
}
ul.pills_nav li a.active, .drop-down-custom-li li a.active {
    border-color: #FFC300;
}
.walletval .btn, #order_book_body .table .amount, #order_book_body .table .volume{
    color: #222222;
}
.status-success i {
    color: #28a745;
}
li#themeChange {
    background-color: #eeeeee;
}
#my_orders .data_main .table thead tr:nth-child(1) th {
    background: #fff;
}