<section class="withdraw-instruction">
    <div class="form-group">
      <h4 class="steps">STEP: 1</h4>
      <div class="col-sm-20">
        <p> {{"funds.deposit_coin.open-wallet" | t}} </p>
      </div>
    </div>
  
    <hr class="split">
  
    <div class="form-group">
      <h4 class="steps">STEP: 2</h4>
      <div class="col-sm-20">
        <ng-include src="'/templates/funds/_qrcode.html'"></ng-include>
  
        <p class="clearfix">{{"funds.deposit_coin.detail" | t}}</p>
  
        <ng-include src="'/templates/funds/_address.html'"></ng-include>
        <ng-include src="'/templates/funds/_destination_tag.html'"></ng-include>
  
        <br>{{"funds.deposit_coin.scan-qr" | t}}
  
      </div>
    </div>
  
    <hr class="split">
  
    <div class="form-group">
      <h4 class="steps">STEP: 3</h4>
      <div class="col-sm-20">
        <p>{{"funds.deposit_coin.after_deposit" | t}}</p>
      </div>
    </div>
  
  </section>
  