<section class="withdraw-instruction">
  <div class="form-group">  
      <h4 class="steps">Step: 1</h4>   
      <p> {{"funds.deposit_coin.open-wallet" | t}} </p>    
  </div>
  <hr class="split">
  <div class="form-group">   
      <h4 class="steps">Step: 2</h4>    
      <ng-include src="'/templates/funds/_qrcode.html'"></ng-include>
      <br>
      <p class="clearfix">{{"funds.deposit_coin.scan-qr" | t}}</p>
      <ng-include src="'/templates/funds/_address.html'"></ng-include>
      <p>{{"funds.deposit_coin.detail" | t}}</p>
  </div>
  <hr class="split">
  <div class="form-group">
    <h4 class="steps">Step: 3</h4>
      <p>{{"funds.deposit_coin.after_deposit" | t}}</p>
  </div>

</section>
