<div class="input-group  cpyInput">
  <div class="input-group-addon">
    <span>{{'funds.deposit_coin.destination_tag' | t}}</span></div>
  <div class="form-control form-control-static" id="destination_tag">{{account.destination_tag}}</div>
  <div class="input-group-addon" id="destination_tag_data" data-toggle="tooltip" title="Click to Copy" data-placement="bottom" data-trigger="hover",data-animation = "true" >
      <i class="fa fa-copy" data-clipboard-text="{{account.destination_tag}}"></i>
   </div>
</div>
