<table class="table table-currencies" ng-repeat="account in accounts" bind="accounts">
  <tr class="currency-item" ng-class="{selected: accountsCtrl.isSelected(account.currency),
    'deposit-now': accountsCtrl.isDeposit(),
    'withdraw-now': accountsCtrl.isWithdraw() }"
    data-currency="{{account.currency}}">

    <td class="currency-logo" ng-click="accountsCtrl.deposit(account); $event.preventDefault()">
      <div><img ng-src="/icon-{{account.currency}}.png" alt=""></div>
      <div><span class="currency-symbol">{{ account.currency | uppercase }}</span></div>
    </td>

    <td class="currency-balance-col">

      <p class="currency-balance"><span class="currency-sign"></span>{{account.balance | round_down }}</p>

      <div style="margin-bottom: 10px;">
        <span class="currency-balance-locked"><i class="fa fa-lock"></i> {{account.locked}}</span>
      </div>
      

      <div class="currency-actions">
        <span class="currency-deposit">
          <a href="#" ng-click="accountsCtrl.deposit(account); $event.preventDefault()" >{{ 'funds.deposit' | t }}</a>
        </span>
        <span class="currency-withdraw">
          <a href="#" ng-click="accountsCtrl.withdraw(account); $event.preventDefault()" >{{ 'funds.withdraw' | t }}</a>
        </span>
      </div>
      
    </td>
    <!-- <td class="currency-actions">
      
    </td> -->
  </tr>
</table>
