<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'usd'" src="'/templates/funds/withdraw_usd.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>
<ng-include ng-if="currency == 'usdt'"  src="'/templates/funds/withdraw_usdt.html'"></ng-include>
<ng-include ng-if="currency == 'bchabc'" src="'/templates/funds/withdraw_bchabc.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/withdraw_dash.html'"></ng-include>
<ng-include ng-if="currency == 'usdc'"  src="'/templates/funds/withdraw_usdc.html'"></ng-include>
